

body {
    font-family: monospace;
    background-color: rgb(255, 230, 200);
}

.timeline {
    color: rgb(50,50,50);
    display: flex;
    margin: 0 0;
    padding-bottom: 15vw;
    border-top: solid rgba(128, 128, 128,50%) 0.2vw;
    font-size: 5vw;
    
}

#addTask {
    color: white;
    position: fixed;
    margin: 10vw;
    bottom: 0;
    right: 0;
    border: none;
    background-color: rgb(128, 196, 128);
    cursor: pointer;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    font-size: 10vw;
}

#deleteTask{
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: 600;
    position: fixed;
    margin: 3vw;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
    font-size: 3vw;
    border-radius: 50vw;
    padding: 1vw;
}

#addTask:active {
  transform: scale(0.95); /* shrink slightly on click */
}

#deleteTask:active{
    transform: scale(0.95);
}

/* Popup menu */
#menu {
  position: fixed;
  background: white;
  font-size: 5vw;
  bottom: 27vw;
  right: 5vw;
  overflow: hidden;

}
/* Hide by default */
.hidden {
  display: none;
}



