body {
    font-family: monospace;
    background-color: rgb(255, 230, 200);
}

.timeline {
    color: black;
    display: flex;
    margin: 0 0;
    padding-bottom: 15%;
    border-top: solid rgba(128, 128, 128,50%) 1px;
    font-size: 200%;
    
}

#addTask {
    color: white;
    position: fixed;
    margin: 50px;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    border: none;
    font-size: 350%;
    background-color: rgb(128, 196, 128);
    cursor: pointer;
    border-radius: 50%;
}



