

body {
    font-family: monospace;
    background-color: rgb(255, 230, 200);
}

.timeline {
    color: black;
    display: flex;
    margin: 0 0;
    padding-bottom: 15vw;
    border-top: solid rgba(128, 128, 128,50%) 1px;
    font-size: 5vw;
    
}

    #addTask {
        color: white;
        position: fixed;
        margin: 50px;
        bottom: 0;
        right: 0;
        border: none;
        background-color: rgb(128, 196, 128);
        cursor: pointer;
        border-radius: 50%;
        width: 15vw;
        height: 15vw;
        font-size: 10vw;
    }



